.vs/
obj/
bin/
appsettings.json
appsettings.Development.json
**/*.cache
/.vscode
*.jpg
*.jpeg
*.jpe
*.gif
*.raw
*.webp
*.png
*.apng
*.mng
*.tiff
*.tif
*.svg
*.svgz
*.pdf
*.xbm
*.bmp
*.dib
*.xlsx
*.docx
*.pptx
*.odt
*.ods
*.odp
*.rtf
*.txt